* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  min-height: 100%;
  background-color: $black;
  position: relative;
  background: url(../assets/pattern.png) top left repeat;
  background-size: 400px;
}

nav,
section {
  z-index: 10;
  position: relative;
}

img {
  width: 100%;
  display: block;
}