$white: #d3d3d3;
$xx-light: #F2F2F2;
$x-light: #E0E0E0;
$light: #BDBDBD;
$medium: #4F4F4F;
$dark: #333333;
$black: #000000;
$light-blue: #2D9CDB;
$dark-blue: #2F80EDB2;
$yellow: #F2C94C;
$red: #470c0c;
$green: #27AE60;