@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Rock+Salt&display=swap');

@font-face {
  font-family: 'Prisma';
  src: url('../assets/Prisma.eot');
  /* IE9 Compat Modes */
  src: url('../assets/Prisma.woff') format('woff'),
    /* Modern Browsers */
    url('../assets/Prisma.ttf') format('truetype')
    /* Safari, Android, iOS */
}

body {
  color: $x-light;
  font-weight: 400;
  font-size: 18px;
  font-family: 'Pangolin', sans-serif;
  line-height: normal;
}

h1 {
  font-family: 'Prisma', 'Rock Salt', sans-serif;
  font-size: 3rem;
  margin: 0;
  line-height: 1.8em;
  color: $white;
}

h2 {
  font-family: 'Prisma', 'Rock Salt', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  margin: 2rem 0;
  color: $white;

}

h3 {
  font-size: 2rem;
  font-weight: 500;

}

h4 {
  font-size: 1.2rem;
  font-weight: 700;

}

h4 {
  font-size: 1.2rem;
  font-weight: 500;

}

p {
  margin: 2rem 0;
}

small {
  font-size: .8rem;
}

a {
  text-decoration: none;
  color: $white;
}