.footer {
    @include container('sm');
    padding: 4rem 1rem;

    @include breakpoint ('screen-sm') {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    &__dates {
        margin-bottom: 4rem;

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;

            li {
                margin-bottom: 1rem;
            }
        }

        @include breakpoint ('screen-sm') {
            width: 48%;
        }
    }

    &__contact {

        @include breakpoint ('screen-sm') {
            width: 48%;
            text-align: right;
        }

        &__icons {
            display: flex;
            justify-content: start;
            align-items: center;
            height: 4rem;

            @include breakpoint ('screen-sm') {
                justify-content: end;
            }

            a {
                display: block;
                margin: 0 2rem 1rem 0;

                @include breakpoint ('screen-sm') {
                    margin: 0 0 1rem 2rem;
                }
            }
        }
    }
}