.hero {

    &__mobile {

        border: 4px double $light;
    }

    &__desktop {
        border-top: 4px double $light;
        // border-bottom: 4px double $light;
        display: none;
        // @include container('lg');
    }

    @include breakpoint ('screen-sm') {

        &__mobile {
            display: none;
        }

        &__desktop {
            display: block;
        }
    }
}