.intro {
    padding: 4rem 1rem;
    @include container('sm');

    @include breakpoint ('screen-sm') {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__copy,
        &__player {
            width: 48%;
        }
    }

    &__copy {
        a {
            margin: 0 1rem 4rem 0;
            display: inline-block;
        }
    }

}