.nav {
    @include container('lg');
    padding: 1rem;
    position: relative;

    @include breakpoint ('screen-sm') {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__subtitle {
        position: relative;
        left: 1rem;
        top: -1rem;

        @include breakpoint ('screen-sm') {
            position: absolute;
            top: 3.7rem;
            left: 2rem;
        }
    }

    &__toggle {
        position: absolute;
        top: 2rem;
        right: 1rem;
        background-color: transparent;
        border: none;
        padding: 0;

        @include breakpoint ('screen-sm') {
            display: none;
        }

        span {
            font-size: 2.5rem;
            pointer-events: none;
            color: $white;
        }

        .nav__toggle__close {
            display: none;
        }

        &--active {
            .nav__toggle__menu {
                display: none;
            }

            .nav__toggle__close {
                display: block;
            }
        }
    }

    &__links {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        max-height: 0;
        transition: max-height .2s;
        overflow: hidden;

        @include breakpoint ('screen-sm') {
            display: flex;
            justify-content: end;
            max-height: 100%;
        }

        &--active {
            max-height: 100%;
        }

        li {
            font-size: 1.2rem;
            font-weight: 500;
            padding: 1rem;
            border-top: 1px dashed $medium;

            &:first-child {
                border: none;
            }

            @include breakpoint ('screen-sm') {
                border: none;
                padding: 1rem 0;
                margin-left: 3rem;
            }

            a {
                color: $white;
            }
        }
    }
}