.video {
    @include container('full');
    padding: 2rem 1rem 4rem 1rem;
    border-top: 4px double $light;
    border-bottom: 4px double $light;
    background-color: $red;

    &__frames {
        @include breakpoint ('screen-sm') {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    h2 {
        @include breakpoint ('screen-sm') {
            text-align: center;
        }

    }



    &__container {
        width: 100%;
        height: 0;
        padding-top: 54%;
        position: relative;
        margin: 1rem 0;

        @include breakpoint ('screen-sm') {
            width: 40%;
            padding-top: 20%;
        }

    }

    iframe {
        width: 100%;
        height: 100%;
        margin: .5rem 0;
        position: absolute;
        top: 0;
        left: 0;
    }
}